.body-content
  .page-overview-wrapper
    %h1 Competitor Watch
    .clear

    %a.main-cta.btn-floating.btn-large.waves-effect.waves-light
      .fa.fa-plus.fa-2x
    %a.secondary-cta.btn-floating.btn-large.waves-effect.waves-light
      .fa.fa-balance-scale.fa-2x


  .container.container-fluid
    .row
      .col.s12
        .card
          .card-content
            .card-title Competitor 1

    .row
      .col.s12
        .card
          .card-content
            .card-title Competitor 2

    .row
      .col.s12
        .card
          .card-content
            .card-title Competitor 3
