.body-content
  .page-overview-wrapper
    %h1 Audience

    .clear

    %ul.section-nav
      %li.selected
        %a Device
      %li
        %a Gender
      %li
        %a Age
      %li
        %a Keyword
      %li
        %a Location

    %a.secondary-cta.btn-floating.btn-large.waves-effect.waves-light{style: "right:40px;"}
      .fa.fa-balance-scale.fa-2x

  .container.container-fluid
    .row
      .col.s12
        .card
          .card-content
            .card-title Desktop
    .row
      .col.s12
        .card
          .card-content
            .card-title Tablet

    .row
      .col.s12
        .card
          .card-content
            .card-title Mobile

