.body-content
  .page-overview-wrapper
    %h1 Performance
    %select.browser-default.date-selector
      %option{disabled: true, selected: true} Jan 1, 2015 - Mar 31, 2015

    .clear

    %ul.section-nav
      %li.selected
        %a Likes
      %li
        %a Comments
      %li
        %a Regrams

  .container.container-fluid
    .row
      .col.s12
        .card
          .card-content
            .card-title Most Liked
    .row
      .col.s12
        .card
          .card-content
            .card-title Least Liked
